{
	"enabled": false,
	
    "amqpHost": "123",
	"amqpPort": 123,
	"amqpVirtualHost": "/technitium",
	"amqpRoutingKey": "query-in",
	"amqpAuthUsername": "joe",
	"amqpAuthPassword": "mama",
	"amqpHeartbeat": 30,
	"amqpReconnectInDispose": true,
	
	"ampqsEnabled": false,
	"ampqsRequired": true,
	
	"queueMaxSize": 10000,
	"queueMaxFailures": 5,
	"queueFailuresBypassSizeLimits": true,
	
	"senderColdDelayMs": 5000,
	"senderInterBatchDelayMs": 500,
	"senderBatchMaxSize": 100
}
