{
	"enabled": false,
	
	"amqpHost": "127.0.0.1",
	"amqpPort": 12345,
	"amqpVirtualHost": "/technitium",
	"amqpAuthUsername": "technitium-123",
	"amqpAuthPassword": "change-me",
	"amqpRoutingKey": "dns-123",
	"amqpExchangeName": "",
	"amqpHeartbeat": 30,
	"amqpReconnectInDispose": true,
	
	"ampqsEnabled": false,
	"ampqsRequired": true,
	
	"queueMaxSize": 10000,
	"queueMaxFailures": 5,
	"queueFailuresBypassSizeLimits": true,
	
	"senderColdDelayMs": 5000,
	"senderInterBatchDelayMs": 500,
	"senderBatchMaxSize": 100,
	"senderPostFailureDelayMs": 250,
		
	"_amqpLinkName": "query-1",
	"_amqpLinkAddress": "query-1"
}
